# Channel Information
UI_CHANNEL_NAME=0
CHANNEL_NAME_CAPTION=ChannelName

# Channel Announcement
UI_CHANNEL_ANNOUNCEMENT=0
CHANNEL_ANNOUNCEMENT_TITLE=custom announcement
CHANNEL_ANNOUNCEMENT_HTML=<center>This is a custom channel announcement!</center>

# Discord Integration
UI_DISCORD=0
DISCORD_NAME=name
DISCORD_URL=discord url

# Favicon Configuration
UI_FAVICON=0
FAVICON_URL=favicon url

# TheMovieDB Configuration
MOVIEDB_SHOW=0
MOVIEDB_API_KEY=api key
MOVIEDB_LIST_KEY=list key

# Video Player Configuration
POSTER_URL=

# Background Configuration
BG_DIMMED=0
BG_PICS=wallpaper url,wallpaper url
BG_STOCK=1

# Channel List Configuration
UI_CHANNEL_LIST=0
CHANNEL_JSON=https://cdn.jsdelivr.net/gh/BillTube/BillTube2/channels.json

# Minification
INPUT_FILE=BillTube2.js
OUTPUT_FILE=BillTube2.min.js